{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">About Unique Dining</h1>

    <div class="card p-4 shadow-sm">
        <p>
            A destination where passion for food meets elegant ambiance.
        </p>

        <p>
            Nestled in the heart of the city, Heavenly Dining offers a divine culinary experience inspired by global
            flavors and locally sourced ingredients. Whether you're celebrating a special occasion or enjoying a casual
            night out, our refined decor and warm hospitality make every visit memorable.
        </p>

        <p>
            Our chefs craft each dish with care, blending tradition and innovation to serve you meals that are both
            familiar and exciting. From handmade appetizers to gourmet entrees and indulgent desserts, every plate is a
            journey of taste.
        </p>

        <p>
            Join us, and discover why Unique Dining is more than a restaurant — it's an experience.
        </p>
        <p>
            <strong>Contact Us:</strong> +353 899330845
        </p>
        <p>
            <strong>Email:</strong> info@uniquedining.com
        </p>
        <p>
            <strong>Address:</strong> 123 Culinary Lane, Dublin, Ireland
        </p>
    </div>
</div>
{% endblock %}