{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}


{% block content %}

<div class="hero">
    <img src="{% static 'images/hero/hero2.jpg' %}" alt="Unique Dining in Ireland" class="hero-image">
    <div class="hero-text">
        <h1>Welcome to Heavenly Dining</h1>
        <p>Experience Ireland’s Most Unique Culinary Journey</p>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-4 text-center">
        <h3>Fresh Ingredients</h3>
        <p>High-quality, Locally Sourced ingredients in every dish.</p>
    </div>
    <div class="col-md-4 text-center">
        <h3>Cozy Atmosphere</h3>
        <p>Perfect for family dinners, dates, and celebrations.</p>
    </div>
    <div class="col-md-4 text-center">
        <h3>Easy Online Booking</h3>
        <p>Reserve your table in just a few clicks.</p>
    </div>
</div>
{% endblock %}
